
    <div id="mainArticles" >
			<div id="mainArticles_outer">
				<div id="mainArticles_body" class="mainArticles">
					<h2><strong><span style="font-size: 14px;">ブログ</span></strong></h2>
					<div id="article_009" class="article" >
						<div class="article_outer">
							<div class="article_body">
								<div class="image"><a href="http://ameblo.jp/zounomimi1121/" target="_blank" ><img src="http://sys.amsstudio.jp/region/baggage_free/tokyo/0000002765/usersimages/0000061640.jpg" alt="0000061640.jpg"/></a></div>
								<a href="http://ameblo.jp/zounomimi1121/" target="_blank" title="">ぞうのみみブログ</a>
							</div>
						</div>

					</div>

				</div>
			</div>

		</div>
