
<div class="page-header">
  <h1 class="toiawase">お問い合わせ・アクセス</h1>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
          <div class="row">
            
          </div>
          <tr>
            <td class="col-md-4"> 社　名</td>
            <td class="col-md-8"> ぞうのみみ</td>
          </tr>
          <tr>
            <td>代 表</td>
            <td>まぁ坊</td>
          </tr>
          <tr>
            <td>店舗名</td>
            <td>ゾウノミミ</td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td>〒761-　　　</td>
          </tr>
          <tr>
            <td>住所</td>
            <td>香川県高松市</td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td>080-3923-1803</td>
          </tr>
          <tr>
            <td>zouno_mimi_1121@yahoo.co.jp</td>
            <td>03-0000-0002</td>
          </tr>
          <tr>
            <td>営業時間</td>
            <td>11時～20時（最終受付19時）</td>
          </tr>
          <tr>
            <td>定休日</td>
            <td>水曜日・祝日</td>
          </tr>
          <tr>
            <td>アクセス方法</td>
            <td>詳しい場所は、ご予約の際お問い合わせ下さい。</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
 
 <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1872.6293286896082!2d139.70500058762033!3d35.660790077392356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sja!2sjp!4v1479975432111" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
