<header>
    <div id="logo">
        
        <h1>メニュー&料金</h1>
    </div>
</header>
<div class="container">
    <div id="logo">
        <%= image_tag 'menu01.jpg' %>
    </div>    
    <section>
        <h1>　メニュー＆料金？</h1>
        <p>６０分　４５００円</p>
        <p>９０分　６５００円</p>
　　　　　　　　<p>１２０分８５００円</p>
　　　　　　　　<p></p>
        <p>※　ゆったりとした施術でリフレッシュしていただくために、９０分をお勧めいたします。</p>
        <p>施術中、リラックスしていただくため</p>
        <p>音楽をかけていますが</p>
        <p>当店では、お客様自身でリラックス出来る音楽を</p>
        <p>お持ちいただければ、再生出来るようにしております。</p>
        <p>レコード・ＣＤ・音楽プレーヤーなどに対応してますので</p>
        <p>ご自身でリラックス出来る音楽をお持ちください。</p> 
    <div id="logo">
        <%= image_tag 'menu02.jpg' %>
    </div>        
        
        
        <h1>施術の流れ</h1> 
        <p>メールまたはお電話にてご予約</p> 
        <p>↓</p> 
        <p>当店より折り返しのメールありましたら、ご予約完了になります。</p> 
        <p>↓</p> 
        <p>ご来店</p>  
        <p>↓</p> 
        <p>問診</p>  
        <p>まずお茶を飲んでいただきなからお客様のお体の事など、いろいろお教え下さい。</p> 
        <p>↓</p> 
        <p>問診が終わりましたら、お着替えをしていただきます。</p>  
        <p></p>
    <div id="logo">
        <%= image_tag 'menu03.jpg' %>
    </div> 
        <p>次は、足湯です。</p> 
        <p>いろいろな香りを用意させていただいておりますので</p> 
        <p>お好みの香りで足湯を楽しんでいただけます。</p>
        <p>↓</p>
        <p>足湯が終わりましたら、広めのマットでゆったりと横になっていただき施術開始です。</p> 
        <p>↓</p>
        <p>施術が終わるとお茶の時間です。</p> 
        <p>何種類かのお飲み物の中からお選び下さい。お菓子や果物もご一緒にいかがですか？</p>
        <p>※足湯や、お茶の時間は、サービスです。 コースのお時間には含まれません。</p> 
        <p>コースのお時間＋１時間ほどお考え下さい。</p> 
        <p></p>
        <p>お急ぎの方は、初めにお伝えいただけますと、助かります。<p>
    </section>
</div>
