<!DOCTYPE HTML>
    <html lang="ja">

    <head>
        <meta charset="UTF-8">
        <title>menu　｜　About</title>
        <link rel="stylesheet" href="application.css">
    </head>

    <body>
       <header>
            <div id="logo">
                
                <h1>メニュー&料金</h1>
            </div>
        </header>
        <div class="container">
            <div id="logo">
                <%= image_tag 'menu01.jpg' %>
            </div>    
            <section>
                <p　style="color:red;">　メニュー＆料金？</p>
                <p>６０分　４５００円</p>
                <p>９０分　６５００円</p>
　　　　　　　　<p>１２０分８５００円</p>
                <p>※　ゆったりとした施術でリフレッシュしていただくために、</p>
                <p>　　９０分をお勧めお勧めいたします。</p>
                <br>
                <br>
                <p>　　９０分をお勧めお勧めいたします。</p> 
                <p>　　９０分をお勧めお勧めいたします。</p> 
                <p>　　９０分をお勧めお勧めいたします。</p> 
                <p>　　９０分をお勧めお勧めいたします。</p> 
                
                
                
                
                
                
                
                
            </section>
            <footer>
                <p>     </p>
            </footer>
        </div>
    </body>

    </html>
