<!DOCTYPE HTML>
    <html lang="ja">

    <head>
        <meta charset="UTF-8">
        <title>タイ古式とは　｜　About</title>
        <link rel="stylesheet" href="application.css">
    </head>

    <body>
       <header>
            <div id="logo">
                
                <h1>タイ古式とは</h1>
            </div>
        </header>
        <div class="container">
            
            <section>
                <h1>　タイ古式とは？</h1>
                <p>体に「セン」というエナジーラインがあり疲れなどでこのエナジーラインが</p>
                <p>乱れ体や、気持ちに不調が出てしまうのを「タイ古式リラクゼーション」を用いて</p>
　　　　　　　　<p>「セン」の流れをスムーズに良い方向に持っていこうというものです。</p>
                <p>いたいイメージのある「タイ古式」ですがお客様のお身体の硬さに</p>
                <p>合わせて手技を調整いたします。</p> 
            <div id="logo">
                <%= image_tag 'top.jpg' %>
            </div>     
                <p></p> 
                <h1>タイ古式リラクゼーションってどんなの？</h1>
                <p>タイ古式リラクゼーションは凝りをほぐすだけでなく</p>
                <p>全身の血行をあげ、体の細胞のすみずみまで酸素や栄養を運び</p>
　　　　　　　　<p>本来の体調を取り戻すことで</p>
                <p>本来持っている治癒力を回復、高めて、精神と肉体の健康を取り戻していきます。</p>
                <p>部分的な施術というよりは</p> 
                <p>ゆっくりと時間をかけて全身を施術していきます。</p>
                <p>タイ古式リラクゼーションテクニックもさまざまで</p> 
                <p>指圧のような母指や手のひらを使った圧迫以外に</p> 
                <p>肘や足、ひざを使ったテクニックや、血止めのテクニック、ストレッチテクニックも</p> 
                <p>タイ古式リラクゼーションの特徴です。</p> 
                   
                <h1>他のマッサージとの違いは？</h1> 
            <div id="logo">
                <%= image_tag 'tiekosiki01.jpg' %>
            </div>     
       
                <p>本来2時間かけて全身の施術を行います。</p> 
                <p>まず、スタートは足から。</p> 
                <p>脚部分の施術だけでも40分から1時間以上かけます。</p> 
            <div id="logo">
                <%= image_tag 'tiekosiki02.jpg' %>
            </div>     
                
                <p>次は、腕、腹部、腰、背中、肩、首、顔や頭など施術をおこなって行きます。</p>
             <div id="logo">
                <%= image_tag 'tiekosiki03.jpg' %>
            </div>    
                <p>途中や最後に、ストレッチをおこないます。</p>
                *お客様とお話しして、施術時間や重点的に施術する部分は調整します。</p>
            </section>
              
            <footer>
                <p>     </p>
            </footer>
        </div>
    </body>

    </html>
