<!DOCTYPE HTML>
    <html lang="ja">

    <head>
        <meta charset="UTF-8">
        <title>タイ古式とは　｜　About</title>
        <link rel="stylesheet" href="application.css">
    </head>

    <body>
       <header>
            <div id="logo">
                
                <h1>タイ古式とは</h1>
            </div>
        </header>
        <div class="container">
            <div id="logo">
                <%= image_tag 'tiekosiki01.jpg' %>
            </div>    
            <section>
                <p　style="color:red;">　タイ古式とは？</p>
                <p>体に「セン」というエナジーラインがあり疲れなどでこのエナジーラインが</p>
                <p>乱れ体や、気持ちに不調が出てしまうのを「タイ古式リラクゼーション」を用いて</p>
　　　　　　　　<p>「セン」の流れをスムーズに良い方向に持っていこうというものです。</p>
                <p>いたいイメージのある「タイ古式」ですがお客様のお身体の硬さに</p>
                <p>合わせて手技を調整いたします。</p> 
                <div id="logo">
                <%= image_tag 'tiekosiki02.jpg' %>
            </div>    
                <p　style="color:red;">　タイ古式とは？</p>
                <p>体に「セン」というエナジーラインがあり疲れなどでこのエナジーラインが</p>
                <p>乱れ体や、気持ちに不調が出てしまうのを「タイ古式リラクゼーション」を用いて</p>
　　　　　　　　<p>「セン」の流れをスムーズに良い方向に持っていこうというものです。</p>
                <p>いたいイメージのある「タイ古式」ですがお客様のお身体の硬さに</p>
                <p>合わせて手技を調整いたします。</p> 
                
                
                
                
                
                
            </section>
            <div id="logo">
                <%= image_tag 'tiekosiki03.jpg' %>
            </div>    
            <footer>
                <p>     </p>
            </footer>
        </div>
    </body>

    </html>
